<div class="container mt-5">
  <div class="card" style="width: 100%;">
    <div class="card-header d-flex justify-content-between">
      Details
    </div>
    <div class="card-body">
      <div class="d-flex">
        <img src="{{movie.image}}" class="card-img-top" alt="{{movie.title}}" style="width: 320px; margin-right: 20px;">
        <ul class="list-group list-group-flush w-100">
          <li class="list-group-item "><b>ID:</b> {{movie.id}}</li>
          <li class="list-group-item"><b>Title:</b> {{movie.title}}</li>
          <li class="list-group-item"><b>Description:</b> {{movie.description}}</li>
          <li class="list-group-item"><b>Name Author: </b>{{movie.author?.name}}</li>
        </ul>
      </div>
      
    </div>
    <div class="card-footer d-flex justify-content-between">
      <a routerLink="/movies" class="btn-sm btn btn-dark">Return</a>
      <!-- Button Modal Delete Miove -->
      <button *ngIf="hasRoleAdmin" type="button"data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn-sm btn btn-danger">Delete</button>
    </div>
  </div>
</div>

<!-- Modal Delete Miove -->
<div *ngIf="showAndHideModalMovie && hasRoleAdmin" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Movie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are sure !!!!???
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteMovieByID(movie.id)">Delete</button>
      </div>
    </div>
  </div>
</div>